[submodule "vim/bundle/NERDtree.git"]
	path = vim/bundle/NERDtree.git
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/skittles_berry.git"]
	path = vim/bundle/skittles_berry.git
	url = git://github.com/shawncplus/skittles_berry.git
[submodule "vim/bundle/powerline.git"]
	path = vim/bundle/powerline.git
	url = git://github.com/Lokaltog/powerline.git
